<section id="study" class="study-section text-center">

    <h2 class="projects-section-header mb-5 mt-5">My education</h2>

    <ul>
        <li class="my-education">
            <h5>EPICODE</h5>
            <p>Corso Full-Stack Developer</p>
            <p>31.08.2022 - In corso</p>
        </li>
        <li class="my-education">
            <h5>JAVA (100 ORE) – ACCADEMIA DOMANI</h5>
            <p>27/08/2021</p>
        </li>
        <li class="my-education">
            <h5>SICUREZZA INFORMATICA BASE (25 ORE) -ACCADEMIA
                DOMANI</h5>
            <p>23/08/2021</p>
        </li>
        <li class="my-education">
            <h5>PROGRAMMAZIONE JAVA BASE (200 ORE)</h5>
            <p>Ente Finanziatore: Forma.Temp Apl - promotrice: Openjobmetis S.p.A. - Ente attuatore: Talentform</p>
            <p>03/08/2021</p>
        </li>
        <li class="my-education">
            <h5>WEB DEVELOPER (128 ORE)</h5>
            <p>PROGETTO GIOVANI PROGRAMMATORI E SVILUPPATORI DEL SETTORE ICT (PROMOSSO DA UE, ANPAL, EULAB)</p>
            <p>15/06/2021</p>
        </li>
        <li class="my-education">
            <h5>RESPONSIVE WEB DESIGN (300 ORE)</h5>
            <p>FREE CODE CAMP</p>
            <p>17/05/2021</p>
        </li>
        <li class="my-education">
            <h5>JAVASCRIPT (55 ORE) – ACCADEMIA DOMANI</h5>
            <p>13/04/2021</p>
        </li>
        <li class="my-education">
            <h5>WEB DEVELOPMENT – MIMO</h5>
            <p>18/01/2021</p>
        </li>
        <li class="my-education">
            <h5>HTML-CSS (55 ORE) – ACCADEMIA DOMANI</h5>
            <p>18/01/2021</p>
        </li>
        <li class="my-education">
            <h5>MASTER IN LOSS ADJUSTMENT – POLITECNICO MILANO</h5>
            <p>2016-2017 -Milano, Italia</p>
        </li>
        <li class="my-education">
            <h5>DIPLOMA GEOMETRA – ISTITUTO SUPERIORE "ELIO
                VITTORINI" SEZ. I.T.G. “CASTELLAMONTE”</h5>
            <p>2009 – 2015 – Grugliasco, Italia</p>
        </li>

    </ul>

</section>