<section id="projects" class="projects-section">
    <h2 class="projects-section-header">These are some of my projects</h2>

    <div class="projects-grid">
        <div>

            <!-- <iframe src="https://github.com/Lambo95?tab=repositories">
            </iframe> -->

            <a href="https://github.com/Lambo95/ClinicaVeterinariaApp.git" target="_blank" class="project project-tile">
                <p class="project project-title">
                    <span class="code">&lt;</span>
                    Clinica veterinaria
                    <span class="code">/&gt;</span>
                </p>

            </a>
        </div>
        <div>

            <!-- <iframe src="https://github.com/Lambo95?tab=repositories">
            </iframe> -->

            <a href="https://github.com/Lambo95/HotelSupramonte.git" target="_blank" class="project project-tile">
                <p class="project project-title">
                    <span class="code">&lt;</span>
                    Hotel Supramonte
                    <span class="code">/&gt;</span>
                </p>

            </a>
        </div>
        <div>

            <!-- <iframe src="https://github.com/Lambo95?tab=repositories">
            </iframe> -->

            <a href="https://github.com/Lambo95/GestionalePMunicMVC.git" target="_blank" class="project project-tile">
                <p class="project project-title">
                    <span class="code">&lt;</span>
                    Gestionale Polizia Municipale
                    <span class="code">/&gt;</span>
                </p>

            </a>
        </div>
        <div>

            <!-- <iframe src="https://github.com/Lambo95?tab=repositories">
            </iframe> -->

            <a href="https://github.com/Lambo95/todoApp.git" target="_blank" class="project project-tile">
                <p class="project project-title">
                    <span class="code">&lt;</span>
                    Todo App
                    <span class="code">/&gt;</span>
                </p>

            </a>
        </div>
        <div>

            <!-- <iframe src="https://github.com/Lambo95?tab=repositories">
            </iframe> -->

            <a href="https://github.com/Lambo95/U3-W9-D5.git" target="_blank" class="project project-tile">
                <p class="project project-title">
                    <span class="code">&lt;</span>
                    Cellulare (TypeScript)
                    <span class="code">/&gt;</span>
                </p>

            </a>
        </div>
        <div>

            <!-- <iframe src="https://github.com/Lambo95?tab=repositories">
            </iframe> -->

            <a href="https://github.com/Lambo95/CalcoloTasse.git" target="_blank" class="project project-tile">
                <p class="project project-title">
                    <span class="code">&lt;</span>
                    Console calcolo tasse
                    <span class="code">/&gt;</span>
                </p>

            </a>
        </div>
    </div>

    <a href="https://github.com/Lambo95?tab=repositories" class="btn btn-show-all" target="_blank">Show all<i
            class="fas fa-chevron-right"></i></a>
</section>